cmake
Appium-Python-Client
chromedriver-binary==86.0.4240.22
fake-useragent
fastapi
jinja2
lxml
m3u8
m3u8-dl
p5py
pep517
mojimoji
mpegdash
mutagen
pathvalidate
pillow
pymongo
pytest
pytest-xdist
python-dateutil
requests
scrapy == 2.2.1
scrapy-splash
selenium
slack_log_handler
slackweb
starlette
twython
txmongo
urllib3
uvicorn
youtube_dl
aiofiles
